@import "https://fonts.googleapis.com/css2?family=Poppins&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent
}

.wrapper {
    background: #f1f0f0;
    padding: 20px;
    text-align: center;
    width: 500px;

}

.wrapper .icon {
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-table;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
    color: #333;
    text-decoration: none;
    
    
    
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #fff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);
    
}

 
.wrapper .icon .tooltip {
    top: -30px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    width: 120px;
  
}

.wrapper .icon span,
.wrapper .icon .tooltip {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .1)
}

.wrapper .facebook,
.wrapper .facebook .tooltip,
.wrapper .facebook .tooltip {
    background-color: #3b5999;
    color: #fff
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #fff
}

.wrapper .instagram,
.wrapper .instagram .tooltip,
.wrapper .instagram .tooltip {
    background-color: #e1306c;
    color: #fff
}

.wrapper .github,
.wrapper .github .tooltip,
.wrapper .github .tooltip {
    background-color: #333;
    color: #fff
}

.wrapper .youtube,
.wrapper .youtube .tooltip,
.wrapper .youtube .tooltip {
    background-color: yellow;
    color: black
}